/* Set universal selector */
* {
    box-sizing: border-box;
}

/* Header must have gradient */
header {
    background: linear-gradient(90deg, rgb(70, 90, 184) 30%, rgb(38, 19, 96) 100%);
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    padding: 0.01rem;
    position: relative;
    text-align: center;
}

.search {
    font-family: sans-serif;
}

h2 {
    left: 20px;
    position: relative;
}

#search-bar {
    margin: 2ch;
    padding: 0.7%;
    width: 300px;
}

#search-button {
    background-color: rgb(105, 145, 227);
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    margin: 2ch;
    padding: 0.8%;
    position: relative;
    right: 334px;
    top: 55px;
    width: 300px;
}

/* Stylize the city buttons */
.city-button {
    background-color: rgb(174, 174, 174);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2ch;
    padding: 0.8%;
    position: relative;
    top: 50px;
    width: 300px;
}

/* Stylize the section above the forecast */
.city-and-date {
    border: 1px solid black;
    bottom: 560px;
    font-family: sans-serif;
    font-size: 75%;
    left: 340px;
    max-width: 50%;
    position: relative;
}

section h3 ul {
    list-style: none;
}

/* Use flexbox for the 5-day forecast */
.forecast {
    bottom: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left: 340px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100px;
}

.forecast h2 {
    bottom: 70px;
    position: relative;
}

.forecast-card {
    background-color: rgb(50, 61, 79);
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    width: 100%;
}

.forecast-card ul {
    list-style: none;
}